{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 90, "knowledge_revision": 224, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "117105d2f2ee718eb485a07574a219b6", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist", "revision_history": [{"224": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}