{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 31, "knowledge_revision": 167, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "340647cb3935f7814ca442ac1091daf9", "format-version": 4, "code-base-name": "default", "filename": "financeflow/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"167": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}