{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 100, "knowledge_revision": 238, "git_revision": "", "hash": "f2439a38fe04de9c4d3c16369388d0e9", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Flutter/Generated.xcconfig", "revision_history": [{"238": ""}]}