{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 15, "knowledge_revision": 151, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "e6fde05dec64f9856d3978a4a5e4bf48", "format-version": 4, "code-base-name": "default", "filename": "financeflow/macos/Runner/Release.entitlements", "revision_history": [{"151": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}