{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 9, "knowledge_revision": 146, "git_revision": "", "hash": "4fbab6649414ee075fd670b1881e5c6d", "format-version": 4, "code-base-name": "default", "filename": "financeflow/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"146": ""}]}