{"is_source_file": true, "file_id": 100, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "f2439a38fe04de9c4d3c16369388d0e9", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Flutter/Generated.xcconfig", "knowledge_revision": 101}