{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 128, "knowledge_revision": 265, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "db9831841e161ec16edc8a6db5aea455", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Runner/Info.plist", "revision_history": [{"265": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}