{"is_source_file": true, "file_id": 128, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "db9831841e161ec16edc8a6db5aea455", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Runner/Info.plist", "knowledge_revision": 130}