{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 96, "knowledge_revision": 230, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "bd6254e10068a9a3539aa9710626ac24", "format-version": 4, "code-base-name": "default", "filename": "financeflow/ios/Flutter/Release.xcconfig", "revision_history": [{"230": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}