{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 30, "knowledge_revision": 169, "git_revision": "4347034bca90d76fb073cd29f0f899ee56fa2e4f", "hash": "0a7555f820f3e4371d88ec1c339d70ef", "format-version": 4, "code-base-name": "default", "filename": "financeflow/macos/Runner/Configs/Debug.xcconfig", "revision_history": [{"169": "4347034bca90d76fb073cd29f0f899ee56fa2e4f"}]}