{"is_source_file": true, "file_id": 70, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "bc3615a10cee69973f2c547a4c462e6c", "format-version": 4, "code-base-name": "default", "filename": "financeflow/windows/runner/Runner.rc", "knowledge_revision": 72}